@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-body text-center">
            <h2 class="card-title">About Us</h2>
            <p class="card-text">
                We are a dynamic team participating in the 2024 Future of Data Hackathon — Kartavya Singh, Phani Jarugumilli, Saarthak Sinha, and Shivam Kharangate — dedicated to revolutionizing financial data visualization.
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body text-center">
            <h2 class="card-title">Our Vision</h2>
            <p class="card-text">
                FinVest is more than just an app; it's a comprehensive platform designed to streamline your financial life. From managing budgets across various banks to tracking earnings and monitoring spending, FinVest provides a clear and intuitive way to visualize your financial transactions.
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body text-center">
            <h2 class="card-title">Invest with Confidence</h2>
            <p class="card-text">
                Our app offers deep insights into the world of stocks. Whether you're learning the basics or refining your investment strategy, FinVest provides detailed explanations of stock-related factors, paired with 3D visualizations for an immersive data experience.
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body text-center">
            <h2 class="card-title">Learn by Doing</h2>
            <p class="card-text">
                Inspired by platforms like TradingView, our interactive game mode lets you practice stock trading in a risk-free environment. Analyze real-time stock data, experiment with different strategies, and gain the confidence you need to succeed in the market.
            </p>
        </div>
    </div>
</div>
