@model Dictionary<string, Dictionary<string, string>>

@{
    ViewData["Title"] = "StockWave - Stock Data";
}

<h2>Stock Data</h2>

<canvas id="stockChart" width="400" height="200"></canvas>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const labels = [];
        const dataPoints = [];

        @if (Model != null && Model.Any())
        {
            @foreach (var entry in Model)
            {
                <text>labels.unshift("@entry.Key");</text>
                <text>dataPoints.unshift(@entry.Value["1. open"])</text>;
            }
        }

        if(labels.length > 0 && dataPoints.length > 0){
            const data = {
                labels: labels,
                datasets: [{
                    label: 'Stock Price',
                    backgroundColor: 'rgba(0, 119, 204, 0.3)',
                    borderColor: 'rgba(0, 119, 204, 0.6)',
                    data: dataPoints,
                }]
            };

            const config = {
                type: 'line',
                data: data,
                options: {}
            };

            const stockChart = new Chart(
                document.getElementById('stockChart'),
                config
            );
        } else {
            console.log("No data to display.");
        }
    </script>
}
